<!doctype html>
<html>

<head>
  <title>Dog Community</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container border border-primary">

    <div class="page-header text-center">
      <h1><span class="fa fa-dog"></span>Blog</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">


      <div class="col-lg-12 border ">
        <div class="well border ">
          <h3><span class="fa fa-user"></span> Profile</h3>
          <p>a safe space to write about your dogs, add your puppy's name and lets chat! </p>

          <% if (user.local) { %>
            <p>
            
                  <strong>email</strong>: <%= user.local.email %><br>
                    <!-- <strong>password</strong>: <%= user.local.password %> -->
            </p>

            <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %>

        </div>
      </div>


      <div class="col-lg-12 d-flex well border">
        <h2><i class="fa-brands fa-blogger"></i>Messages</h2>
        <table class="messages">
          <tr>
            <th>Dog Name</th>
            <th>Daily Message</th>
            <th>Delete</th>
          </tr>
          <% for(let i=0; i<messages.length; i++) {%>
            <tr class="message"  >
              <td>
                <%= messages[i].dogName %>
              </td>
              <td>
                <input data-id="<%=messages[i]._id %>" value="<%= messages[i].msg %>"><i class="fa fa-thin fa-pen-to-square"></i>
               
              </td>
              
             
              <!-- <input type="text" class="editting" > -->
              <!-- <button class="btn"  id="<%=messages[i]._id %>">edit</button> -->
              
              <td><i id="<%=messages[i]._id %>" class="fa fa-trash" aria-hidden="true"></i></span>
            </tr>


            <% } %>
          </table>

        <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form class="bottom-form" action="/messages" method="POST">
            <div class="d-flex well border-primary">

              <!-- <input type="text" value="<%= user.local.parentName %>" name="name"> -->
              <div>
                <label for="dogName">Name</label>
                <input class="dogName" type="text" value="" name="dogName">
              </div>

              <div>
                <label for="msg">Message</label>
                <input class="msg" type="text" value="" name="msg">
              </div>

              <div>
                <button id="bottomButton" type="submit">Submit</button>
              </div>


            </div>

          </form>
          <% } %>


      </div>
      <script src="https://kit.fontawesome.com/83e7c78dd8.js" crossorigin="anonymous"></script>
      <script src="main.js"></script>

</body>

</html>